<div class="row py-4">
    <div class="col">
        <div class="p-4 shadow-sm mb-2">
                <a href="/" class="btn btn-light"><i class="fa fa-arrow-left"></i> Go back to home</a>
                <h1 class="my-4 fw-normal fw-bold"><%= blog.title %></h1>
                <div class="d-flex">
                    <span class="text-secondary">Created at <%= blog.createdAt.toLocaleString() %></span>
                    <% if(blog.createdAt.toLocaleString() != blog.updatedAt.toLocaleString()) { %>
                        <span class="text-secondary">Modified at <%= blog.updatedAt.toLocaleString() %></span>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col py-5 blog-field">
                        <%- blog.sanitizedHtml %>
                    </div>
                </div>
        </div>
    </div>
</div>