*{
    font-family: "Sofia Pro";
}

html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 5rem auto;
}

/* remove triangle icon */
.dropdown-toggle:before{
  border: none !important;
  margin: 0 !important;
}

.blog-field p{
  line-height: 29px;
  color: #494a4b;
  font-weight: 400;
}

.blog-field h1, .blog-field h2, .blog-field h3, .blog-field h4, .blog-field h5, .blog-field h6{
  font-weight: 600;
}

.blog-field img{
  width: 100%;
}