*{
    font-family: "Sofia Pro";
}

html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 5rem auto;
}

/* remove triangle icon */
.dropdown-toggle:before{
  border: none !important;
  margin: 0 !important;
}

.blog-field p{
  line-height: 29px;
  color: #6c757d;
}