<div class="row">
    <div class="col py-5 my-5 text-center">
        <h1 class="display-1 fw-bold"><%= statusCode %></h1>
        <p class="text-secondary mt-3 mb-4"><%= message %></p>
        <a href="/" class="btn btn-primary">Go back to home</a>
    </div>
</div>